* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

/* nabar color */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}

/* navbar margin */
.left-margin {
  margin-left: auto;
}

/* banner */

#banner {
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}
.play-btn_svg {
  aspect-ratio: 1 / 1;
  width: 35px;
  margin-right: 1em;
}
.agency-tutorial_link {
  text-decoration: none;
  color: inherit;
}
.agency-tutorial_link:hover {
  text-decoration: underline;
}

/* services */
#services {
  margin-bottom: 0.5em;
}
.services_heading {
  text-align: center;
  margin-bottom: 1em;
}
.title::after,
.title::before {
  content: "";
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 5px;
}
.title::before {
  width: 200px;
  transform: translateY(46px);
}
.title::after {
  width: 35px;
  height: 9px;
  transform: translateY(5px);
}
.services_img {
  padding-bottom: 1em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#services .btn-primary {
  border: none;
  border-radius: 20px;
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
  color: black;
  padding: 7px 20px;
}

/* about us */
.about-title {
  margin-bottom: 1.5em;
}
.about-us_list li {
  padding-left: 1em;
  list-style-type: "▸";
}

/* testimonials */

.testimonial {
  border-left: 4px solid #8ec5fc;
}

.client-img {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 15%;
}
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

/* socials */

#socials {
  margin-top: 5em;
  /* background-color: ; */
}
.social-links {
  gap: 5em;
}
.social-links li {
  list-style: none;
}
.social-links li a svg {
  aspect-ratio: 1 / 1;
  width: 3em;
  transition: 0.5s;
}

.social-links a:hover svg {
  transform: translateY(-10px);
}

/* footer */

.footer-box {
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
  padding-bottom: 5em;
}


.contact-us_text svg{
aspect-ratio: 1 / 1;
object-fit: cover;
width: 1.5em;
}

/* logo */
.navbar-logo,
.footer-logo{
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}
.navbar-logo{
  width: 2.5em;
}
.footer-logo{
  width: 3em;

}
