* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

/* nabar color */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}

/* navbar margin */
.left-margin {
  margin-left: auto;
}

/* banner */

#banner {
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}
.play-btn_svg {
  aspect-ratio: 1 / 1;
  width: 35px;
  margin-right: 1em;
}
.agency-tutorial_link {
  text-decoration: none;
  color: inherit;
}
.agency-tutorial_link:hover {
  text-decoration: underline;
}

/* services */
#services{
  margin-bottom: 0.5em;
}
.services_heading {
  text-align: center;
  margin-bottom: 1em;
}
.services_heading::after,
.services_heading::before{
  content: '';
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 5px;
}
.services_heading::before{
  width: 200px;
  transform: translateY(45px);
}
.services_heading::after{
  width: 35px;
  height: 9px;
  transform: translateY(5px);
}
.services_img {
  padding-bottom: 1em;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#services .btn-primary{
  border: none;
  border-radius: 20px;
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
  color: black;
  padding: 7px 20px;
}